name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Poetry
        run: pip install poetry

      - name: Add pytest to dev dependencies
        run: poetry add --group dev pytest

      - name: Install deps
        run: poetry install --no-interaction --no-root --with dev

      - name: Run tests
        run: poetry run pytest -q
